<p id="notice"><%= notice %></p>

<p>
  <strong>Campaign:</strong>
  <%= @line_item.campaign %>
</p>

<p>
  <strong>Site:</strong>
  <%= @line_item.site %>
</p>

<p>
  <strong>Impressions:</strong>
  <%= @line_item.impressions %>
</p>

<p>
  <strong>Clicks:</strong>
  <%= @line_item.clicks %>
</p>

<p>
  <strong>Ctr:</strong>
  <%= @line_item.ctr %>
</p>

<p>
  <strong>Date:</strong>
  <%= @line_item.date %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
