<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @site.postcode %>
</p>

<p>
  <strong>Line item:</strong>
  <%= @site %>
</p>



<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@site.latitude}%2C#{@site.longitude}" %>



<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', :back %>
