<div class="page-header">
  <h1>Reports</h1>
</div>

<% if database_count > 1000 %>
  <div class="alert alert-info" role="alert">Please note, there is a database limit of 10,000 rows, we're currently at <%= database_count %> rows. You can save space by deleting reports that are no longer needed.</div>
<% elsif database_count > 5000 %>
  <div class="alert alert-danger" role="alert">There is a database limit of 10,000 rows, we're currently at <%= database_count %> rows and this application has to share space with others. Please save some space by deleting reports that are no longer needed.</div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Report/Campaign Name</th>
      <th>Created by</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.name %></td>
        <td><%= report.user.first_name.titleize %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Report', new_report_path, method: :get, class: "btn btn-large btn-primary" %>
